@import 'tailwindcss';

body {
  background-color: #0e0e0e;
}

@theme {
  --color-background: #0e0e0e;
  --color-foreground: #1a1a1a;

  --color-card: #131313;

  --color-muted: #252e37;
  --color-muted-foreground: #8c94a3;

  --color-success: #5daa60;
  --color-error: #de3d32;

  --color-cancel: #ff0000;

  --color-primary: #f3ffca;

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
